:root {
  --primary-color: #fc6736;
  --secondary-color: #ffb0b0;
  --light-color: #fff;

  --primary-text-color: #efecec;

  --background-color: #0c2d57;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  font-family: sans-serif;
  color: var(--primary-text-color);
}

h1 {
  color: var(--primary-text-color);
  font-size: 2.5rem;
}

a {
  color: var(--primary-text-color);
  text-decoration: none;
}

/* header 스타일 */
header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  height: 56px;
}

.logo {
  color: var(--primary-color);
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.hamburger {
  width: 40px;
  height: 36px;
  cursor: pointer;
  padding: 4px;
}

.hamburger .line {
  display: block;
  width: 32px;
  height: 4px;
  margin-bottom: 8px;
  background-color: var(--secondary-color);
}

.nav-links {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--primary-color);
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links.expanded {
  display: block;
}

/* footer 스타일 */
footer {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

footer a {
  padding: 0.5rem 1rem;
  color: var(--primary-text-color);
  border: 1px solid var(--light-color);
  text-decoration: none;
}

footer a:hover {
  color: var(--background-color);
  background-color: var(--light-color);
}

/* tags 스타일 */

.tags {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  margin: 0.25em;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  font-size: 1.15em;
  background-color: var(--primary-color);
}

@media screen and (min-width: 636px) {
  .nav-links {
    position: relative;
    display: block;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .nav-links a:hover,
  .nav-links a:focus {
    color: var(--primary-color);
  }

  .hamburger {
    display: none;
  }
}
