---
import '../styles/global.css'
import BaseLayout from '../layouts/BaseLayout.astro'

const pageTitle = 'About Me'

const identity = {
  firstName: 'Soyoung',
  country: 'Korea',
  occupation: 'Front-End Developer',
  hobbies: ['카페에서 노트북하기', '러닝'],
}

const skills = ['HTML', 'CSS', 'JavaScript']
---

<BaseLayout pageTitle={pageTitle}>
  <p>Here are a few facts about me:</p>
  <ul>
    <li>My name is {identity.firstName}</li>
    <li>I live in {identity.country}</li>
    <li>My hobbies are: {identity.hobbies.join(', ')}</li>
  </ul>
  <p>My skills are:</p>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>
</BaseLayout>
