---
import Hamburger from './Hamburger.astro'
import Navigation from './Navigation.astro'
---

<header>
  <a href="/" class="logo">Astro playground</a>
  <nav>
    <Hamburger />
    <Navigation />
  </nav>
</header>
